{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "singleQuote": false
}
