apiVersion: v1
kind: Service
metadata:
  name: proxy
  namespace: price-whisper
spec:
  type: LoadBalancer
  selector:
    app: proxy
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080