services:
  load-balancer:
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    network_mode: bridge
